<div class="hero-unit">                                                                                                             
  <p>{{sometext}}</p> 
  <ul>
    {{#students}}
    <li>
        <a href="report1.php">{{name}}</a>
    </li>
    {{/students}}
</ul>
</div>
