<div class="hero-unit">
<div class="alert alert-info">{{interfacetest}}</div>


<br/>
<table class="alert table-striped">
    <thead>
        <tr>
          <th scope="col">{{risk}}</th>
          <th scope="col">{{studentname}}</th>
        </tr>
    </thead>
    <tbody>
    {{#students}}
        <tr>
            <td class="pr-5 pt-2 pb-2" scope="row">
                <span class="badge badge-{{riskclass}}">{{riskprint}}</span>
            </td>
            <td>
                <a href="report.php?id={{courseid}}&userid={{id}}&risk={{risk}}"> {{firstname}} {{lastname}}</a>
            </td>
        </tr>
    {{/students}}
    </tbody>
</table>
</div>
