<style>
    .custom-table tbody:nth-child(even) {
        background-color: #f1f1f1; /* Background color for odd rows */
    }
</style>
<!-- {{! moodle usa bootstrap 4.6 }} -->

<div class="card mb-2 info-course" >
    <div class="card-header">
        <h5 class="font-weight-bold">Informações do curso</h5>
    </div>
    <div class="card-body container row">
        <div class="card-text" >
            <p class="mb-0"> Curso: <span class="student-course">N/A</span></p>
            <p class="mb-0"> Turma: <span class="student-class">N/A</span></p>
            <p class="mb-0"> Semestres transcorridos : <span class="student-semesters-elapsed">N/A</span></p>
            <p class="mb-0"> Disciplinas obrigatórias (ofertadas/matriculado): <span class="student-course">N/A</span></p>
            <p class="mb-0"> Disciplinas não obrigatórias (ofertadas/matriculado): <span class="student-class">N/A</span></p>
            <p class="mb-0"> Disciplinas cursadas (com/sem aproveitamento): <span class="student-semesters-elapsed">N/A</span></p>
        </div>
    </div>
</div>

<div class="card mb-2 info-student">
    <div class="card-header">
        <h5 class="font-weight-bold" >Informações do estudante</h5>
    </div>
    <div class="card-body container row">
        <div class="col">
            <div class="card-text" >
                <p class="mb-0"> Name: <span class="student-name">{{sometext}}</span></p>
                <p class="mb-0"> Current enroled courses: <span class="student-current-enroled">3</span></p>
                <p class="mb-0"> Situation: <span class="student-situation badge badge-success">N/A</span></p>
                <p class="mb-0"> Acompanhamento ao cronograma: <span class="student-situation badge badge-success">N/A</span></p>

            </div>
        </div>
        <div class="col">
            <div class="card-text" >
                <p class="mb-0"> Total semesters: <span class="student-total-semesters">N/A</span></p>
                <p class="mb-0"> Total courses: <span class="student-total-courses">N/A</span></p>
            </div>
        </div>
    </div>
</div>
<br><BR>
        {{{script}}}

<button onclick="button_table_charts()"><H3>Tabelas com evolução de indicadores de risco</h3></button><BR>
<div id="table_charts" width="max-content" style="display: block">
    <div id="behaviour_table" width="max-content" style="display: block"></div><BR>
    <div id="social_table" width="max-content" style="display: block"></div><BR>
    <div id="cognitive_table" width="max-content" style="display: block"></div><BR>
</div>
<BR><BR>
<button onclick="button_line_charts()"><H3>Gráficos de linha com evolução de indicadores de risco</h3></button>
<div id="line_charts" width="max-content" style="display: block">
    <div id="line_chart_behaviour" width="max-content"></div><BR>
    <div id="line_chart_social" width="max-content"></div><BR>
    <div id="line_chart_cognitive" width="max-content"></div><BR>
</div>
<BR><BR>
<button onclick="button_column_charts()"><H3> Gráficos de coluna com evolução de indicadores de risco</h3></button>
<div id="column_charts" width="max-content" style="display: block">
    <div id="column_chart_behaviour" width="max-content"></div><BR>
    <div id="column_chart_social" width="max-content"></div><BR>
    <div id="column_chart_cognitive" width="max-content"></div><BR>
</div>
