<style>
    .custom-table tbody:nth-child(even) {
        background-color: #f1f1f1; /* Background color for odd rows */
    }
</style>
<!-- {{! moodle usa bootstrap 4.6 }} -->

<div class="card mb-2 info-course" >
    <div class="card-header">
        <h5 class="font-weight-bold">Informações Gerais</h5>
    </div>
    <div class="card-body container row">
        <div class="card-text" >
            <p class="mb-0"> {{studentname}}: <span class="student-name">{{sometext}}</span></p>
            <p class="mb-0"> {{program}}: <span class="student-course">N/A</span></p>
            <p class="mb-0"> {class}}: <span class="student-class">N/A</span></p>
            <p class="mb-0"> {{numberofterms}}: <span class="student-class">N/A</span></p>
        </div>
    </div>
</div>

<div class="card mb-2 info-student">
    <div class="card-header">
        <h5 class="font-weight-bold">Informações do aluno</h5>
    </div>
    <div class="card-body container row">
        <div class="card-text" >
            <p class="mb-0"> {{situation}}:
                <span class="student-situation badge badge-success">N/A</span></p>
            <p class="mb-0"> {{passedterms}}:
                <span class="student-semesters-elapsed badge badge-success">N/A</span></p>
            <p class="mb-0"> {{triedcourses}}:
                <span class="student-semesters-elapsed badge badge-success">N/A</span></p>
            <p class="mb-0"> {{mandatorycourses}} (oferta/matricula):
                <span class="student-course badge badge-success">N/A</span></p>
            <p class="mb-0"> {{nonmandatorycourses}} (oferta/matricula):
                <span class="student-class badge badge-success">N/A</span></p>
            <p class="mb-0"> {{schedule}}:
                <span class="student-situation badge badge-success">N/A</span></p>
        </div>
    </div>
</div>
<br><BR>
        {{{script}}}

<button onclick="button_table_charts()"><H3>Tabelas com evolução de indicadores de risco</h3></button>
<BR><BR>
<div id="table_charts" width="max-content" style="display: block">
    <BR><BR>
    <div id="behaviour_table" width="max-content" style="display: block"></div><BR>
    <div id="social_table" width="max-content" style="display: block"></div><BR>
    <div id="cognitive_table" width="max-content" style="display: block"></div><BR>
</div>
<BR><BR>
<button onclick="button_line_charts()"><H3>Gráficos de linha com evolução de indicadores de risco</h3></button>
<div id="line_charts" width="max-content" style="display: block">
    <div id="line_chart_behaviour" width="max-content"></div><BR>
    <div id="line_chart_social" width="max-content"></div><BR>
    <div id="line_chart_cognitive" width="max-content"></div><BR>
</div>
<BR><BR>
<button onclick="button_column_charts()"><H3> Gráficos de coluna com evolução de indicadores de risco</h3></button>
<div id="column_charts" width="max-content" style="display: block">
    <div id="column_chart_behaviour" width="max-content"></div><BR>
    <div id="column_chart_social" width="max-content"></div><BR>
    <div id="column_chart_cognitive" width="max-content"></div><BR>
</div>
