<div class="hero-unit">                                                                                                             
  <p>{{sometext}}</p>                                                                                                               
</div>
