<!-- {{! This style corrects bug when googlecharts is used withBootstrap. }} -->
<style>
   .tab-content>.tab-pane {
     height: 1px;
     overflow: hidden;
     display: block;
    visibility: hidden;
   }
   .tab-content>.active {
     height: auto;
     overflow: auto;
     visibility: visible;
   }
</style>

<div class="card mb-2 info-course" >
    <div class="card-header">
        <h5 class="font-weight-bold">{{programinformation}}</h5>
    </div>
    <div class="card-body container row">
        <div class="card-text" >
            <p class="mb-0"> {{studentname}}: {{studentfullname}}</p>
            <p class="mb-0"> {{program}}: <span class="badge badge-info">{{notready}}</span></p>
            <p class="mb-0"> {{class}}: <span class="badge badge-info">{{notready}}</span></p>
            <p class="mb-0"> {{numberofterms}}: <span class="badge badge-info">{{notready}}</span></p>
        </div>
    </div>
</div>

<div class="card mb-2 info-student">
    <div class="card-header">
        <h5 class="font-weight-bold">{{studentinformation}}</h5>
    </div>
    <div class="card-body container row">
        <div class="card-text" >
            <p class="mb-0"> {{situation}}: <span class="badge badge-info">{{notready}}</span></p>
            <p class="mb-0"> {{passedterms}}: <span class="badge badge-info">{{notready}}</span></p>
            <p class="mb-0"> {{triedcourses}}: <span class="badge badge-info">{{notready}}</span></p>
            <p class="mb-0"> {{mandatorycourses}} (oferta/matricula): <span class="badge badge-info">{{notready}}
            </span></p>
            <p class="mb-0"> {{nonmandatorycourses}} (oferta/matricula): <span class="badge badge-info">{{notready}}
            </span></p>
            <p class="mb-0"> {{schedule}}: <span class="badge badge-info">{{notready}}</span></p>
        </div>
    </div>
</div>
<br><br>
{{{script}}}


<div class="card mb-2 info-graphics" >
    <div class="card-header">
        <h5 class="font-weight-bold">{{graphs}}</h5>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">



                <li class="active nav-item"><a data-toggle="pill" href="#home">Tabela</a></li>
                <li class="nav-item"><a data-toggle="pill" href="#menu1">Gráfico de linhas</a></li>
                <li class="nav-item"><a data-toggle="pill" href="#menu2">Gráfico de barras</a></li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active" width="max-content">
                    <div id="behaviour_table"></div><BR>
                    <div id="social_table"></div><BR>
                    <div id="cognitive_table"></div><BR>
                </div>
                <div id="menu1" class="tab-pane fade" width="max-content">
                    <div id="line_chart_behaviour"></div>
                    <div id="line_chart_behaviour4"></div><BR>
                    <div id="line_chart_social"></div><BR>
                    <div id="line_chart_cognitive"></div><BR>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div id="column_chart_behaviour" width="max-content"></div><BR>
                    <div id="column_chart_behaviour4" width="max-content"></div><BR>
                    <div id="column_chart_social" width="max-content"></div><BR>
                    <div id="column_chart_cognitive" width="max-content"></div><BR>
                </div>
            </div>
        </div>
    </nav>
</div>