<div class="hero-unit">                                                                                                             
  <p>{{sometext.text}} - {{sometext.userid}}</p>                                                                                                               
</div>
